<div class="container">
  <div class="newAniaml">
    <h2>New animal in the zoo?</h2>
    <button (click)="changeNewAnimalBoolean()"
            class="btn btn-primary">Add</button>

  </div>
  <app-new-animal
      [addNewAnimal]="managerAnimalBoolean"
      (sendNewAnimalToZooManager)="addNewAnimal($event)">
  </app-new-animal>

  <app-edit
      [editThisAnimal]="focusAnimal"
      (doneEditingThisAnimal)="doneEditing()"
  ></app-edit>

  <app-animal-list
      [childAnimalInventory]="totalAnimalInventory"
      (sendTargetAnimalToParent)="animalSelected($event)"
  ></app-animal-list>


</div>
