<div *ngIf="editThisAnimal" class="panel panel-default">
  <h1 class="panel-heading">{{editThisAnimal.name}}</h1>

  <div class="panel-body row">
    <div class="col-md-4">
      <h3>Animal's Likes</h3>
      <ul>
        <li *ngFor="let like of editThisAnimal.likes">{{like}}</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>{{editThisAnimal.species}}</h3>
      <h3>Number of caretakers: {{editThisAnimal.caretakers}}</h3>
      <label>Change the animals name:</label>
      <input [(ngModel)]="editThisAnimal.name" type="text"><br>
      <label>Enter Number of caretakers:</label>
      <input [(ngModel)]="editThisAnimal.caretakers" type="number" [required]="true"><br>
      <button class="btn btn-warning"
              (click)="doneButtonWasClicked()"
              >Done</button>
    </div>
    <div class="col-md-4">
      <h3>Animal's Dislikes</h3>
      <ul>
        <li *ngFor="let dislike of editThisAnimal.dislikes">{{dislike}}</li>
      </ul>
    </div>



  </div>


</div>
